@charset "utf-8";
/* CSS Document */

	/* ---Disenio general---*/

	*,:after,:before{
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	}
	
	.clearfix:after,.clearfix:before{
	content:'';display:table
	}
	
	.clearfix:after{
	clear:both;display:block
	}
	
	a{
	color:inherit;
	text-decoration:none
	}
	
	body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2; 
    font-size: 1em;
    line-height: 1.5em; 
	}
	
	section{
	padding:20px;
	margin-top:120px;
	}
	

	/*----------*/

	
	/*--- CABECERA---*/

	#cabecera-color {
    background: #004e86;
    color:#ffffff;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
	}  
	 
    #cabecera-color a {
    color: #ffffff;
    }
	
	#cabecera-color a:hover {
    color: #98be11;
    }

	/*----------*/

	/*--- LOGOTIPO---*/
	
	#logo-cabecera {
    float: left;
    padding: 10px;
    text-decoration: none;
	width:50%;
	}
	
	#logotipo-imagen{
	width: auto;
    height: 65px;
	}

	/*----------*/ 

	/*--- CABECERA---*/
	
	header{
	width:100%;
	left: 0; 
	top: 0; 
	position: fixed; 
	background:#004e86;
	z-index:1;
	}
	
	header nav{
	width:90%;
	margin: 0px auto;
	background:#004e86;
	}
	
	header nav ul{
	overflow:hidden;
	list-style:none;
	margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
	}
	
	header nav ul li{
	float:right;
	display: inline-block;
    line-height: 50px;
	}
	
	header nav ul li a{
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	font-size:14px;
	font-weight:500;
	}
	
	header nav ul li a:hover{
	background: #0b76a6;
	color:#98be11;
	}
	
	.menu-principal{
	display:none;
	}
	
	
	
	/*----------*/
	
	/*--- FORMULARIO ---*/

	.disenio_formulario{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:550px;
	position:relative;
	background: url(file:///Macintosh%20HD/Users/diseno/Google%20Drive/facturacion-atrums/img/bg.jpg);
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	display: fixed;
	z-index:0;
	}
	
	.cuadro-formulario{
	width:100%;
	height:100%;
	position:absolute;
	padding:50px;
	background:rgba(0,78,134,.9);
	}

	.bloque-formulario .cuadro-texto .check{
	display:none;
	}
	
	.cuadro-formulario .texto_iniciar,
	.bloque-formulario .cuadro-texto .label,
	.bloque-formulario .cuadro-texto .button{
	text-transform:uppercase;
	}
	
	.cuadro-formulario .texto_iniciar{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
	color:#fff;
	border-color:#98be11;
	}

	.bloque-formulario{
	min-height:345px;
	position:relative;

	}
	
	.bloque-formulario .cuadro-texto{
	margin-bottom:15px;
	color:#f1f1f2;
	}
	
	.bloque-formulario .cuadro-texto .label,
	.bloque-formulario .cuadro-texto .input,
	.bloque-formulario .cuadro-texto .button{
	width:100%;
	color:#fff;
	display:block;
	}
	
	.bloque-formulario .cuadro-texto .input,
	.bloque-formulario .cuadro-texto .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	color:#f1f1f2;
	}

	.bloque-formulario .cuadro-texto .select {
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	color:#f1f1f2;
	width:100%;
	}
	
	.bloque-formulario .cuadro-texto .option{
	border:none;
	padding:15px;
	background:#004e86;
	color:#f1f1f2;
	width:100%;
	border-radius:25px;
	
	}

	.bloque-formulario .cuadro-texto input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
	}
	
	.bloque-formulario .cuadro-texto .label{
	color:#f7f7f7;
	font-size:12px;
	}
	
	.bloque-formulario .cuadro-texto .button{
	background:#98be11;
	font-size:15px;
	}
	
	.bloque-formulario .cuadro-texto label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
	color:#f1f1f2;
	}

	.bloque-formulario .cuadro-texto label .icon:before,
	.bloque-formulario .cuadro-texto label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
	}
	
	.bloque-formulario .cuadro-texto label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
	}
	
	.bloque-formulario .cuadro-texto label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
	}
	
	.bloque-formulario .cuadro-texto .check:checked + label{
	color:#fff;
	}
	
	.bloque-formulario .cuadro-texto .check:checked + label .icon{
	background:#98be11;
	}
	
	.bloque-formulario .cuadro-texto .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
	}
	
	.bloque-formulario .cuadro-texto .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
	}


	.hr{
	height:2px;
	margin:40px 0 30px 0;
	background:rgba(255,255,255,.2);
	}

	.recordar-password{
	text-align:center;
	color:#ffffff;
	}

/*--- FIN FORMULARIO ---*/

/*--- PIE PÁGINA ---**/

	#pie-pagina {
    background: #004e86;
    color: #ffffff;
	font-size:12px;
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}
    #pie-pagina p {
        margin: 0;
    }
    
    #pie-pagina a {
        color: white;
    }
	
	#pie-pagina_pcnub {
    background: #222222;
    color: #ffffff;
	font-size:12px;
    text-align: center;
    padding: 5px;

}
    #pie-pagina_pcnub p {
        margin: 0;
    }
    
    #pie-pagina_pcnub a {
        color: white;
    }
	
	


/*----------*/	


/*--- PÁGINA INTERNA ---*/	

table {
    width: 100%;
}

th {
	padding: 2px;
    background-color: #004e86;
    color: white;
    text-align: left;
} 

td {
    padding: 2px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(odd){background-color: #e6f0ff}
tr:nth-child(even){background-color: #e6f0ff}
tr:hover{background-color:#f5f5f5}

#pestanas {
    float: top;
    font-size: 2ex;
    font-weight: bold;
}
 
#pestanas ul{
    width: 90%;
    margin: 0px;  
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid;
    border-bottom: #98be11;
    padding: 0px 20px 0px 20px;
	background: #004e86 !important;

}

#lista li{
	background: #004e86;
	font-size:14px;
	font-weight:500;
	}


#pestanas li:active{
	background: #98be11 !important;
	}
	
#lista li:hover{
	background: #98be11 !important;
	}
	

 
#pestanas a:link{
    text-decoration: none;
    color: white;
}

#contenidopestanas{
    clear: both;  
    padding: 5px 0px 0px 0px;
    background: #004e86;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 1px solid;
    width: 100%;
}


#content-interna{
	}
	
#content-detalle{
	background: #004e86;
    padding: 10px;
    display: block;
    width: 90%;
    margin: 0 auto 15px;
	

	}

#lbl-texto{
    color: #98be11;
    font-weight: 500;
    max-width: 320px;
    display: block;
    font-size: 14px;
    padding: 0px;
    margin: auto;
    float: left;
    width: 30%;
    padding-right: 15px;
    line-height: 35px;
    text-align: right;
	}

	
#lbl-content{
	background: #ffffff;
    width: 70%;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    border: 2px solid #98be11;
	}

	#content-tabla{
		width:90%;
		margin:0 auto;
	}
	
/*----------*/	
	

	
/*--- RESPONSIVE ---*/
	
	@media screen and (max-width:800px ) {
		
		section{
	padding:20px;
	margin-top:120px;
	}
	
	#logo-cabecera {
	text-align:center;
    padding: 10px;
    text-decoration: none;
	width:100%;
	border-bottom:1px solid rgba(255,255,255, .3);
	}
	
	#logotipo-imagen{
	width: auto;
    height: 40px;
	}
	
	header nav{
	width:80%;
	height:100%;
	margin:0px;
	position:fixed;
	left:-100%;
	}
	
	header nav ul li{
	display:block;
	float:none;
	border-bottom:1px solid rgba(255,255,255, .3);
	line-height: 20px;
	}
	
	header nav ul li a{
	font-size:12px;
	font-weight:500;
	}
	
	.menu-principal{
	display:block;
	width:100%;
	height:auto;
	background:#004e86;
	}
	
	.menu-principal a{
	color:#ffffff;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:800;
	text-decoration:none;
	}
	
	.menu-principal img{
	width:25px;
	float:right;
	}
	
	.menu-principal .btn-menu p{
	display:block;
	padding:20px;
	background:#004e86;
	color:#ffffff;
	font-weight:800;
	text-decoration:none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-bottom:3px solid rgba(255,255,255, .3)
	}
	
	/*----------*/
	
	.cuadro-formulario .texto_iniciar{
	font-size:18px;
	
	}
	
	/*--- PIE PÁGINA ---**/
	#pie-pagina {
	font-size:10px;
    padding: 10px;
    margin-top: 30px;
	}
	
	#pie-pagina_pcnub {
	font-size:10px;
    padding: 5px;
	}
	/*----------*/	
	
	/*--- PÁGINA INTERNA---**/
	
	#lbl-texto{
	width:100%;
	text-align:left;
	font-size: 13px;
	}
	
	#lbl-content{
	width:100%;
	margin:0px auto;
	font-size: 13px;
	}
	
	/*----------*/
